@model BankingRules.Data.Message.RuleMessage<BankingRules.Web.ViewModels.EditRuleDetailViewModel>


@{
    ViewBag.Title = "EditRuleDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Rule Detail</h2>
<form action="@Url.Action("editruledetail","rule")" method="post">
    <input type="hidden" value="@Model.Result.Id" name="Id" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Left Operator</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Left Operator" name="LeftOperator" value="@Model.Result.LeftOperator">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Right Operator</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Right Operator" name="RightOperator" value="@Model.Result.RightOperator">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Left Parameter Operator</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Left Parameter Operator" name="LeftParameterString" value="@Model.Result.LeftParameterString">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Right Parameter Operator</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Right Parameter Operator" name="RightParamererString"
                   value="@Model.Result.RightParamererString">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Rule Type</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Rule Type" name="RuleType" value="@Model.Result.RuleType">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Expected Result Type</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Expected Result Type" name="ExpectedResultType" value="@Model.Result.ExpectedResultType">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Expected Result</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Expected Result" name="ExpectedResult" value="@Model.Result.ExpectedResult">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Is Chained?</label>
            <select class="form-control" id="inputEmail4" placeholder="Chained" name="IsChained">
                <option value="0"> FALSE </option>
                <option value="1"> TRUE </option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Operand</label>
            <select class="form-control" id="inputEmail4" placeholder="Email" name="Operand">
                <option> Select an option </option>
                <option value="greaterthan"> > </option>
                <option value="greaterthanorequalto"> >= </option>
                <option value="add"> + </option>
                <option value="subtract"> - </option>
                <option value="notequal"> != </option>
                <option value="and"> & </option>
                <option value="lessthan"> < </option>
                <option value="equals"> = </option>
                <option value="lessthanorequalto"><=</option>
                <option value="or"> | </option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Order</label>
            <input type="number" class="form-control" id="inputPassword4" placeholder="Rule Detail Order" name="Order" value="@Model.Result.Order">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit Detail</button>
</form>